.icons{
  height: 5rem;
  margin-right: 2rem;
  margin-top: 1rem;
}
.small-articles {

  h2{
    .h2-style()
  }
}
.article-sections {
  display: grid;
  grid-template-columns: 1fr;
  justify-items: center;
  padding: 3rem 3rem;
  max-width: 90%;
  margin: 0 auto;
  
  .hero-info();
  h1{
    color: @fontColor;
    margin-bottom: 2rem;
  }
}
figure {
  // width: 70%;
  img{
    width: 70%;
  }
  figcaption {
    font-size: 1rem;
    font-weight: 300;
    border-left: 1px solid @primaryColor;
    padding-left: 1rem;
  }
}


@media @wide {
  .sub-content {
    // text-align: center;
    grid-template-columns: 1fr 1fr;
  }
  .article-sections {
    grid-template-columns: 1fr 1fr;
    align-items: center;
  }
}
