.hero {
  height: 70vh;
  width: 80vw;
  background-image: url("../images/hero.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  // background-size: contain;
  margin: auto;
}
.custom-button {
  background-color: green;
  color: white;
  border: 1px solid black;
  padding: 5px 20px;
  border-radius: 20px;
}
.custom2 {
  .custom-button();
}

.sub-content {
  max-width: 80vw;
  display: grid;
  grid-template-columns: 1fr;
  justify-items: center;
  font-size: 3rem;
  padding: 4rem;
  grid-gap: 5rem;
  .hero-info();
  h2 {
    .h2-style();
  }
}

@media @wide {
  .sub-content {
    grid-template-columns: 1fr 1fr;
    margin: 0 auto;
  }
}
