.story-content {
  .sub-content();
  figure{
   margin: 0 auto;
  }
}

.story-btn{
    width: 50%;
}
.story-subheading{
    display: grid;
    grid-template-columns: 1fr;
    h1{
        margin: 2rem;
    }
}
@media @wide {
    .story-subheading {
      grid-template-columns: 1fr 1fr;
    }
    figure .story-image{
      margin-left: 15%;
    }
  }
  