.story-content {
  .sub-content();
  text-align: center;
  margin: auto;
  justify-content: center;
}

.story-btn{
    width: 50%;
}
.story-subheading{
    display: grid;
    grid-template-columns: 1fr;
    h1{
        margin: 2rem;
    }
}
@media @wide {
    .story-subheading {
      grid-template-columns: 1fr 1fr;
    }
    
  }
  