// FONTS
@mainFont: "Poppins", sans-serif;
@italic: italic;
@mainFontSize: 2rem;
// COLORS
@primaryColor: #5051db;
@navLinkColor: rgb(63, 63, 63);
@backgroundColor: rgb(230, 230, 230);
// MIXINS
.hero-info {
  h1 {
    font-size: 5rem;
    color: @primaryColor;
    font-family: @mainFont;
  }
}
// VARIABLES
// !CREATE ESCAPED VARIABLE FOR MEDIA QUERY
@wide: ~"(min-width: 600px)";
// !USE @MEDIA TO APPLY MEDIA QUERY
