/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
.article-sections {
  max-width: 100%;
  margin: 10rem auto;
}
.hero-info h1 {
  font-size: 5rem;
  color: #5051DB;
  font-family: "Poppins", sans-serif;
}
.h2-style {
  font-weight: 300;
  color: #4d4d4d;
}
.book-btn {
  cursor: pointer;
  background: transparent;
  outline: none;
  font-size: 2rem;
  padding-top: 2rem;
  margin-bottom: 1rem;
  width: fit-content;
  border: none;
  border-bottom: 1px solid lightgray;
  transition: color 0.175s ease-in;
  color: #5051DB;
}
.book-btn:hover {
  color: #5051DB;
  border-bottom: 3px solid #5051DB;
}
.form-button {
  background-color: transparent;
  border: 1px solid white;
  color: #ffffff;
  padding: 1.5rem;
  cursor: pointer;
}
.article-sections:nth-child(odd) {
  background-color: #ededed;
}
.article-sections:nth-child(odd) div {
  grid-column: 1;
  grid-row: 1;
  margin-left: 2rem;
}
.article-sections:nth-child(odd) h1 {
  color: #4d4d4d;
}
/* header */
.header {
  background-color: #fff;
  width: 100%;
  display: grid;
  grid-template-columns: 2fr 1fr;
}
.header a {
  color: #3f3f3f;
  font-weight: 500;
  text-transform: uppercase;
}
.header ul {
  overflow: hidden;
}
.header li a {
  display: block;
  padding: 20px 20px;
  text-decoration: none;
}
.header a span {
  color: #ff006a;
}
.header .menu {
  max-height: 0;
  transition: max-height 0.2s ease-out;
}
.header li a:hover,
.header .menu-btn:hover {
  background-color: #f4f4f4;
}
.header .logo {
  font-size: 2em;
  padding: 10px 20px;
  text-decoration: none;
}
.header .menu-icon {
  cursor: pointer;
  align-self: center;
  justify-self: end;
  padding-right: 1rem;
  user-select: none;
}
.header .menu-icon .navicon {
  background: #333;
  display: block;
  height: 2px;
  position: relative;
  transition: background 0.2s ease-out;
  width: 18px;
  justify-items: end;
}
.header .menu-icon .navicon:before,
.header .menu-icon .navicon:after {
  background: #333;
  content: " ";
  display: block;
  height: 100%;
  position: absolute;
  transition: all 0.2s ease-out;
  width: 100%;
}
.header .menu-icon .navicon:before {
  top: 5px;
}
.header .menu-icon .navicon:after {
  top: -5px;
}
/* menu btn alignment and transitions*/
.header .menu-btn {
  display: none;
}
.header .menu-btn:checked ~ .menu {
  max-height: 240px;
  grid-column: 1 / span 2;
  text-align: center;
}
.header .menu-btn:checked ~ .menu-icon .navicon {
  background: transparent;
}
.header .menu-btn:checked ~ .menu-icon .navicon:before {
  transform: rotate(-45deg);
}
.header .menu-btn:checked ~ .menu-icon .navicon:after {
  transform: rotate(45deg);
}
.header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:before,
.header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:after {
  top: 0;
}
@media (min-width: 600px) {
  .header {
    grid-template-columns: 1fr 2fr;
  }
  .header ul {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
  }
  .header li a {
    padding: 20px 30px;
  }
  .header .menu {
    max-height: none;
  }
  .header .menu-icon {
    display: none;
  }
}
/* 48em = 768px */
.hero {
  height: 70vh;
  width: 80vw;
  background-image: url("../images/hero.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  margin: auto;
}
.custom-button {
  background-color: green;
  color: white;
  border: 1px solid black;
  padding: 5px 20px;
  border-radius: 20px;
}
.custom2 {
  background-color: green;
  color: white;
  border: 1px solid black;
  padding: 5px 20px;
  border-radius: 20px;
}
.sub-content {
  max-width: 80vw;
  display: grid;
  grid-template-columns: 1fr;
  justify-items: center;
  font-size: 3rem;
  padding: 4rem;
  grid-gap: 5rem;
}
.sub-content h1 {
  font-size: 5rem;
  color: #5051DB;
  font-family: "Poppins", sans-serif;
}
.sub-content h2 {
  font-weight: 300;
  color: #4d4d4d;
}
@media (min-width: 600px) {
  .sub-content {
    grid-template-columns: 1fr 1fr;
    margin: 0 auto;
  }
}
.icons {
  height: 5rem;
  margin-right: 2rem;
  margin-top: 1rem;
}
.small-articles h2 {
  font-weight: 300;
  color: #4d4d4d;
}
.article-sections {
  display: grid;
  grid-template-columns: 1fr;
  justify-items: center;
  padding: 3rem 3rem;
  max-width: 80%;
  margin: 0 auto;
}
.article-sections h1 {
  font-size: 5rem;
  color: #5051DB;
  font-family: "Poppins", sans-serif;
}
.article-sections h1 {
  color: #4d4d4d;
  margin-bottom: 2rem;
}
figure {
  width: 70%;
}
figure img {
  width: 70%;
}
figure figcaption {
  font-size: 1rem;
  font-weight: 300;
  border-left: 1px solid #5051DB;
  padding-left: 1rem;
}
.story-image {
  width: 100%;
}
@media (min-width: 600px) {
  .sub-content {
    grid-template-columns: 1fr 1fr;
  }
  .article-sections {
    grid-template-columns: 1fr 1fr;
    align-items: center;
  }
}
.story-content {
  max-width: 80vw;
  display: grid;
  grid-template-columns: 1fr;
  justify-items: center;
  font-size: 3rem;
  padding: 4rem;
  grid-gap: 5rem;
  text-align: center;
  margin: auto;
  justify-content: center;
}
.story-content h1 {
  font-size: 5rem;
  color: #5051DB;
  font-family: "Poppins", sans-serif;
}
.story-content h2 {
  font-weight: 300;
  color: #4d4d4d;
}
.story-content h1 {
  line-height: 7rem;
}
.story-content h2 {
  line-height: 5rem;
}
.story-btn {
  width: 50%;
}
.story-subheading {
  display: grid;
  grid-template-columns: 1fr;
}
.story-subheading h1 {
  margin: 2rem;
}
@media (min-width: 600px) {
  .story-subheading {
    grid-template-columns: 1fr 1fr;
  }
}
.form-container {
  background-color: #5051DB;
  display: grid;
  grid-template-columns: 1fr;
  padding-bottom: 4rem;
}
.form {
  color: white;
}
label {
  color: white;
}
input {
  background-color: transparent;
  border: none;
  border-bottom: 1px solid white;
  height: 4rem;
}
form {
  justify-self: center;
}
form button {
  background-color: transparent;
  border: 1px solid white;
  color: #ffffff;
  padding: 1.5rem;
  cursor: pointer;
}
form input {
  width: 40rem;
}
::placeholder {
  color: white;
  font-size: 2rem;
  font-weight: 300;
  padding-bottom: 1rem;
}
.form h1 {
  font-size: 3rem;
  margin: 3rem;
}
.form h3 {
  margin: 3rem;
}
@media (min-width: 600px) {
  .form-container {
    grid-template-columns: 1fr 1fr;
    justify-self: left;
    padding-bottom: 10rem;
  }
}
.blog-container {
  display: grid;
  grid-template-columns: 1fr;
  justify-items: center;
}
.blogs {
  display: grid;
  grid-auto-rows: auto;
}
.blogs div {
  justify-self: center;
}
.blogs .blog-image {
  justify-self: center;
  max-width: 40rem;
}
.blogs h1 {
  font-size: 3rem;
  margin: 1rem 2rem;
  text-align: center;
}
.blogs h4 {
  margin: 2rem;
  text-align: center;
}
.blogs {
  margin: 10rem 0 10rem 0;
}
.blogs h1 {
  font-family: 'Times New Roman', Times, serif;
  text-align: left;
}
.blogs h4 {
  letter-spacing: 3px;
  text-align: left;
}
@media (min-width: 600px) {
  .blog-container {
    grid-template-columns: 1fr 1fr 1fr;
    justify-content: center;
    text-align: center;
    margin: 10rem;
  }
  .blog-container img {
    max-height: 40rem;
  }
  .blog-container .blogs:nth-child(2) {
    border-left: 1px solid gray;
    border-right: 1px solid gray;
  }
  .blog-container .blogs:nth-child(2) img {
    padding-left: 1rem;
  }
}
.footer-content {
  display: grid;
  grid-auto-columns: auto;
  justify-content: center;
  padding-bottom: 2rem;
  background-color: #5051DB;
}
.footer-content p {
  margin: 5rem;
  color: white;
  text-align: center;
}
@media (min-width: 600px) {
  .footer-content {
    grid-template-columns: 1fr 1fr 1fr;
  }
}
.series {
  background-color: rgba(255, 255, 255, 0.139);
}
.sub-content h1 {
  line-height: 7rem;
}
.sub-content h2 {
  line-height: 5rem;
}
.hero2 {
  height: 70vh;
  width: 90vw;
  background-image: url("../images/hero2.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-size: fit;
  margin: auto;
  margin-top: 2rem;
}
.events-container {
  padding: 5rem;
  background-color: white;
}
.events {
  border: 1px solid #5051DB;
  padding: 5rem;
}
.events h1 {
  font-size: 4rem;
  margin: 3rem;
}
.events h3 {
  font-size: 3rem;
  margin: 3rem;
}
.tours {
  display: grid;
  grid-template-columns: 1fr;
  justify-content: center;
}
.tours h2 {
  padding: 3rem;
}
@media (min-width: 600px) {
  .tours {
    grid-template-columns: 1fr 1fr;
  }
  .tours h2 {
    padding: 5rem;
  }
}
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
html {
  font-size: 62.5%;
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}
/* Start your code here: */
body {
  font-size: 2rem;
  font-family: "Poppins", sans-serif;
  font-style: italic;
}
